
@site-width:1024px;
@default-height:100px;
@default-padding:10px;
@default-margin:15px;

body{
  width: @site-width;
  padding: 0px @default-padding * 5;
}

.header{
  width: @site-width;
  padding: @default-padding * 2 0px;
}

.content{
  width: @site-width;
}

.default-margin-top{
  margin-top: @default-margin;
}

.footer{
  width: @site-width;
  padding: @default-padding 0px;
}
