body {
  width: 1024px;
  padding: 0px 50px;
}
.header {
  width: 1024px;
  padding: 20px 0px;
}
.content {
  width: 1024px;
}
.default-margin-top {
  margin-top: 15px;
}
.footer {
  width: 1024px;
  padding: 10px 0px;
}
